body {
    background-color: black;
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed; 
    background-position: center;
    font-family: 'Press Start 2P', cursive;
}

/* modal style */
.modal {
    top: 10%;
    color: firebrick;
}

.modal-title {
    font-size: 3vw;
}

.modal input {
    vertical-align: middle;
}

.modal label {
    display: block;
    font-size: 2vw;
}

.modal button {
    height: 4vw;
    width: 12vw;
    font-size: 2vw;
    padding: 0.4vw;
}

#winImage {
    width: 100%;
}

#winModal button {
    font-size: 1.2vw;
}

#new-game {
    height: 50px;
}

#header {
    height: 7.5vw;
    color: red;
}

#header input {
    height: 7vw;
}

#header #mute {
    height: 2vw;
    margin-top: 3vw;
    cursor: pointer;
}

#wrong-guesses {
    color: white;
    font-size: 2vw;

}

.card {
    width: 105px;
    height: 164px;
    margin: 0.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid white;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;    
}

.hovered {
    border: 3px solid gold;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;    
}

.selected {
    border: 3px solid firebrick;
    box-sizing: border-box;
    pointer-events: none;
    transform: rotateY(180deg);
}

.guessed {
    pointer-events: none;
    transform: rotateY(180deg);

}

@media (max-width : 400px) {
    .card{
        width : 75px;
        height: 116px;
    }
}

@media (max-width : 800px) {
    .card{
        width : 80px;
        height: 124px;
    }
}
